<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryServlet</servlet-name>
        <servlet-class>controller.LoadCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadItemServlet</servlet-name>
        <servlet-class>controller.LoadItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectedServlet</servlet-name>
        <servlet-class>controller.SelectedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaqShowServlet</servlet-name>
        <servlet-class>controller.FaqShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>controller.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>controller.AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryServlet</servlet-name>
        <url-pattern>/LoadCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadItemServlet</servlet-name>
        <url-pattern>/LoadItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedServlet</servlet-name>
        <url-pattern>/SelectedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaqShowServlet</servlet-name>
        <url-pattern>/FaqShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
